{% extends 'dashboard/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}

<main class="d-flex flex-column p-2">
  <div class="d-flex justify-content-between">
    <div class="p-2">
      <h4 class="h2">Change password</h4>
    </div>
    <div class="p-2">
      <a class="btn btn-primary" href="{% url 'icases:icase-list' %}">Go to dashboard</a>
    </div>
  </div>
  <hr>
  <div class="p-2 ">
    <div class="" style="width:750px;">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy}}
        <input class="btn btn-primary" type="submit" value="Profile Save">
      </form>
    </div>
  </div>
</main>
{% endblock content %}