{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}


<style>
  .form-signup {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: auto;
    margin-top: 3rem;
  }
</style>

<div class="container">
  <div class="row">
    <main class="form-signup">
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">For Patient</h4>
            </div>
            <div class="card-body">
              <a type="button" class="w-100 btn btn-lg btn-outline-primary" href="{% url 'accounts:new-patient' %}">Sign
                up</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">For Doctor</h4>
            </div>
            <div class="card-body">
              <a type="button" class="w-100 btn btn-lg btn-outline-primary" href="{% url 'accounts:new-doctor' %}">Sign
                up </a>

            </div>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% endblock content %}