{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}


<style>
    .form-signup {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        margin-top: 3rem;
    }
</style>

<div class="container">
    <div class="row">
        <main class="form-signup">
            <form method="post" class="form">
                <h1 class="h3 mb-3 fw-normal">Profile update</h1>
                {% csrf_token %}

                {{ profile_form|crispy }}
                <button class="btn btn-success" type="submit">Profile Save</button>
            </form>

        </main>


    </div>
</div>

{% endblock content %}