{% extends '_base.html' %}
{% load static %}

{% block title %}ImplantSavvy{% endblock title %}

{% block content %}
<style>
  .b-divider {
    width: 100%;
    height: 3rem;
    background-color: white;
    border: none;

  }
</style>

<div class="container">

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <img
        src="https://images.pexels.com/photos/4386476/pexels-photo-4386476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">DENTAL IMPLANTS COST TOO MUCH</h1>
      <p class="lead">Because Dentists Don't Have a Competitive Platform.<br> We've Changed That..</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Call (201)579-0012</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign up for free</button>
      </div>
    </div>
  </div>

  <div class="b-divider"></div>

  <div class="bg-primary text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">
        Custom Quotes from Different Local Dentists<br> With No Visits or Copays</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4"></p>

      </div>
    </div>
  </div>

  <div class="b-divider"></div>

  <div class="row featurette">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Only the Best Dentists Win
        <span class="text-body-secondary">See for yourself.</span>
      </h2>
      <p class="lead">
        The same surgery can be difficult for some doctors, while those with much more experience will
        consider them routine.
        ImplantSavvy allows skilled doctors to confidently compete for your business while organically
        exposing those that overcharge.
      </p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="/static/images/boxing.jpeg" class="d-block mx-lg-auto img-fluid" loading="lazy">


    </div>
  </div>

  <div class="b-divider"></div>

  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1">State-of-the-Art Technology at its Best</h2>
      <p class="lead">
        Don't waste time & money traveling to multiple offices. Send a 3D avatar of yourself instead! We use
        the latest diagnostic imaging technology to skip the front desk and go straight to the doctors
        themselves.
        Mobility issues? Can't take days off work? ImplantSavvy is on your side.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/static/images/3dpacs.png" class="d-block mx-lg-auto img-fluid" loading="lazy">
    </div>
  </div>
  <div class="b-divider"></div>
  <div class="row featurette">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Make it Simple to Save
        <p class="mt-3">
          <span class="text-body-secondary mt-3">Our core mission is to empower patients to make better
            informed decisions.</span>
        </p>
      </h2>
      <p class="lead">
        Do you already have a quote from your dentist?
        Send it to us and get FREE counter-offers!
      </p>
      <p class="lead">
        Or are you just beginning your implant Journey? Try the ImplantSavvy way to get informed about your
        case and what it should REALLY cost.
      </p>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="/static/images/coins.jpeg" class="d-block mx-lg-auto img-fluid" loading="lazy">


    </div>
  </div>
  <div class="b-divider"></div>

  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading fw-normal lh-1">For Serious Patients Only</h2>
      <p class="lead">
        Our resources are solely dedicated to help patients actively seeking quality dental care options
        at lower costs.
        If you are currently in need of dental implants and want to save money through fair competition
        among doctors, give us a call today.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/static/images/lion.webp" class="d-block mx-lg-auto img-fluid" loading="lazy">
    </div>
  </div>

  <div class="b-divider"></div>

  <div class="bg-primary text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">
        ImplantSavvy Was Born to Give Patients<br>
        Transparency & Choice
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4"></p>

      </div>
    </div>
  </div>
  <div class="b-divider"></div>


  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Real Offers. Real Savings</h1>
    <p class="fs-5 text-body-secondary">
      An actual example of a typical case in northern New Jersey. See more examples HERE.
    </p>
    <p class="mb-5"></p>

    <p class="display-6 mt-3">Case Summary: Female (39)</p>
    <p class="fs-5 text-body-secondary">
      Tooth #14 active infection, extraction & single implant needed, possible sinus augmentation

    </p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">L.E., DDS</h4>
          <h6 class="mt-3">Cliffside Park, NJ</h6>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$5,200</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Extraction- Tooth #14</li>
            <li>Sinus Augmentation with Bone Graft (Outsourced to Periodontist)</li>
            <li>Single Implant Placement</li>
            <li>Custom Abutment</li>
            <li>Zirconia Crown</li>
            <li>No. of Visits: 3-4</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Passed</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 border-primary">
          <h4 class="my-0 fw-normal">D.C., DDS</h4>
          <h6 class="mt-3">Bayside, NY</h6>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$2,900</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Extraction - Tooth #14</li>
            <li>Single Implant Placement</li>
            <li>Custom Abutment</li>
            <li>Zirconia Crown</li>
            <li>No. of Visits: 3-4</li>
            <li>-</li>
            <li>-</li>


          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Winner</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">K.D.,DDS</h4>
          <h6 class="mt-3">North Bergen, NJ</h6>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$3,200</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Extraction- Tooth #14</li>
            <li>Sinus Augmentation with Bone Graft (Outsourced to Periodontist)</li>
            <li>Single Implant Placement</li>
            <li>Custom Abutment</li>
            <li>Zirconia Crown</li>
            <li>No. of Visits: 3-4</li>

          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Passed</button>
        </div>
      </div>
    </div>
  </div>


  <div class="b-divider"></div>

  <div class="bg-primary text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">
        Be ImplantSavvy<br> Let Doctors Compete For You</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4"></p>

      </div>
    </div>
  </div>
  <div class="b-divider"></div>


</div>

{% endblock content %}