{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<title>{% block title %}DjangoX{% endblock title %}</title>
	<meta name="description" content="A framework for launching new Django projects quickly.">
	<meta name="author" content="">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

	{% block css %}
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}
</head>

<body>
	<div class="container">

		<header class="p-3 mb-3 border-bottom ">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/"
					class="d-flex align-items-center justify-content-start mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
					style="margin-right: 4rem;">

					<h4>ImplantSavvy</h4>
				</a>
				{% if user.is_authenticated %}

				{% if user.profile.category == 'Patent' %}

				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="#" class="nav-link px-2 link-secondary">How it works</a></li>
					<li><a href="#" class="nav-link px-2 link-body-emphasis">Smile Story</a></li>
					<li><a href="{% url 'dashboard:home' %}" class="nav-link px-2 link-body-emphasis">Dashboard</a>
					</li>
				</ul>


				<div class="dropdown text-end">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Hello
						{{ user.username }}</a>
					</a>
					<ul class="dropdown-menu text-small" style="">
						<li><a class="dropdown-item" href="{% url 'accounts:user-profile' %}">Profile</a></li>
						<li><a class="dropdown-item" href="{% url 'accounts:user-update' %}">Basic user information</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
					</ul>
				</div>

				{% else %}
				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="#" class="nav-link px-2 link-secondary">On Market</a></li>
					<li><a href="#" class="nav-link px-2 link-body-emphasis">My Cases</a></li>
					<li><a href="{% url 'dashboard:home' %}" class="nav-link px-2 link-body-emphasis">Dashboard</a>
					</li>
				</ul>


				<div class="dropdown text-end">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Hello
						{{ user.username }}</a>
					</a>
					<ul class="dropdown-menu text-small" style="">
						<li><a class="dropdown-item" href="{% url 'accounts:user-profile' %}">Profile</a></li>
						<li><a class="dropdown-item" href="{% url 'accounts:user-update' %}">Basic user information</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
					</ul>
				</div>
				{% endif %}

				{% else %}
				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="#" class="nav-link px-2 link-secondary">How it works</a></li>
					<li><a href="#" class="nav-link px-2 link-body-emphasis">Smile Story</a></li>

				</ul>
				<div class="dropdown text-end">
					<ul class="nav col-9 col-lg-auto me-lg-auto mb-2 justify-content-end mb-md-0">
						<li class="nav-item">
							<a class="btn button " href="{% url 'account_login' %}">Log in</a>
						</li>
						<li class="nav-item">
							<a class="btn button " href="{% url 'account_signup' %}">Sign Up</a>
						</li>
					</ul>
				</div>






				{% endif %}
			</div>


		</header>
	</div>
	<div class="container">
		{% include '_messages.html' %}

		{% block content %}

		{% endblock content %}
	</div>

	<footer class="py-3 my-4" style="border-top:1px solid;">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
		</ul>
		<p class="text-center text-body-secondary">© 2023 Company, Inc</p>
	</footer>

	{% block javascript %}
	<!-- Bootstrap JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>

	<!-- Project JS -->
	<script src="{% static 'js/base.js' %}"></script>

	{% endblock javascript %}

</body>

</html>